.header img {
    width: 100%;
    height: 275px;
    border: 10px solid rgb(0, 0, 0);

}


body {
   background-color: rgb(255, 244, 79);
   justify-content: center;
  
}

#res{
    background-color: rgb(234, 234, 234);
   font-size: 30px;
   font-style: italic;
   text-align: center; 
}
.footer{
    background-color: rgb(0, 0, 0);
 display:block;
 color: rgb(255, 255, 255);
 margin-top: 350px;
 padding-bottom: 10px;
 /* margin-left: 0px;
 margin-right: 0px; */
 /* border: 5px solid rgba(255, 255, 255, 0.188); */
 border-radius: 10px;

  
}
.choices {
    display: flex;
    justify-content: center;
 
    margin-top: 50px;
    justify-content: center;
}
.choices img{
   
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    border: 10px solid rgb(255, 255, 255);

}
#s img:hover{
    opacity: 0.5; 
    border-color: lightblue;
        border-radius: 100%;
        border-width: 10px;

}
#r img:hover{
    opacity: 0.5; 
     border-radius: 100%;
    border-width: 10px;
    border-color: rgb(219, 103, 118);
    border-style: solid;
}
#p img:hover{
    opacity: 0.5; 
     border-radius: 100%;
    border-width: 10px;
    border-color: rgba(255, 255, 0, 0.691);
}
.score{
    color:white;
}
.container{
    display: inline-block;
    /* justify-content: center;
    align-items: center; */
    /* background-color: rgb(255, 255, 255); */
    /* gap: 3px;
    border-radius: 10px; */
    /* border: 10px solid rgba(0, 0, 0); */
    font-size: 30px;
    /* width: 400px;
    height: 90px;*/ 
      font-family:Georgia, 'Times New Roman', Times, serif;
   margin-left: 150px; 

}
#cs{
    align-self: center;
margin-left:65px ;
}
#ys{
    align-self: center;
margin-left: 25px;
}
.container2{
     display: inline-block;
     font-family:Georgia, 'Times New Roman', Times, serif;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 1px; */
     /* border-radius: 10px; */
    /* border: 10px solid rgba(0, 0, 0); */
    /* background-color: rgb(255, 255, 255); */
    font-size: 30px;
    /* width: 400px; */
    /* margin-top: 10px; */
    /* height: 90px; */
 margin-left: 175px;

}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.container3 img{
    display: flex;
     border-radius: 100%;
    height: 100px;
    width: 100px;
    
    padding: 5px;
    border: 10px solid rgb(255, 255, 255);
    
    gap:150px;
    

}
#yor{
    margin-left: 1px;
}
#com2{
    margin-left: 1000px;
}
.papa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
